<div style="display: flex; height: 89%; align-items: center; flex-direction: column">
    <br />
    <br />
    <div mat-dialog-content>
        <h3 style="text-align: center">Selamat datang, <br /><br />Bapak/Ibu {{ data.name | titlecase }}</h3>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close class="warn-button medium-button">Batal</button>
        <button mat-raised-button [mat-dialog-close]="false" class="primary-button medium-button">Bukan Saya</button>
        <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial class="accent-button medium-button">
            Benar
        </button>
    </div>
</div>
